<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Bank Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

<div class="container my-2">
    <h1>BankAccount List</h1>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Account No</th>
            <th>Account Holder</th>
            <th>Account Type</th>
            <th>Open Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bank : ${account}">
            <td th:text="${bank.id}"></td>
            <td th:text="${bank.accountNo}"></td>
            <td th:text="${bank.accountType}"></td>
            <td th:text="${bank.opendate}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
